<!DOCTYPE html>
<html lang="en" ng-app="pokemons">
    <head>
        
        <meta 
            http-equiv="Content-Security-Policy"
            content="default-src *;
               script-src 'self' 'unsafe-inline' 'unsafe-eval'
                           127.0.0.1:*
                           http://*.gstatic.com          
                           http://*.googleapis.com
                           https://*.gstatic.com
                           https://*.googleapis.com
                           ;
               style-src  'self' 'unsafe-inline'
                           127.0.0.1
                           http://*.gstatic.com         
                           http://*.googleapis.com
                           https://*.gstatic.com
                           https://*.googleapis.com">


        <meta charset="UTF-8">
        <title>Pokemons</title>

        <!-- Libs -->
        <script src="js/lib/angular/angular.js"></script>
        <script src="js/lib/angular/angular-messages.js"></script>
        <script type='text/javascript' src='js/lib/loading-bar/loading-bar.min.js'></script>

        <link rel='stylesheet' href='js/lib/bootstrap/css/bootstrap.css' type='text/css' media='all' />
        <link rel='stylesheet' href='js/lib/loading-bar/loading-bar.min.css' type='text/css' media='all' />

        <!-- App -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/pokemonsCtrl.js"></script>

        <!-- Service -->
        <script src="js/services/pokemonsService.js"></script>                


    </head>
    <body ng-controller="pokemonsCtrl">
        <div class="">
            <br/>
            <br/>
            <div>
                <input class="form-control" type="text"  placeholder="Pokemons" ng-model="nome" name="nome"/> 
                <button class="btn btn-primary btn-block" ng-click="buscarPokemon(nome)">Buscar</button>       
            </div>
            <div>
                
            </div>
            <div ng-show="pokemon.name">
                <div align="center">
                    <img src="{{pokemon.sprites.front_default}}" alt="">
                </div>
                <div>
                    <table class="table" align="center">
                        <tr>
                            <td align="center"><span ng-bind="pokemon.name"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>